/*  your css code here. If applicable */
body {
  margin: 0;
  height: 100vh;
  background-color: #9b63d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

#buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 15px 30px;
  background-color: #5b2a86;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

